<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="../bimsurfer/examples/css/newtheme.css">
<link rel="stylesheet" href="../bimsurfer/examples/css/style.css">
<link rel="stylesheet" href="../bimsurfer/examples/css/metadata.css">
<link rel="stylesheet" href="../bimsurfer/examples/css/tree.css">
<link rel="stylesheet" href="../bimsurfer/examples/css/newtree.css">
<link rel="stylesheet" href="../bimsurfer/examples/css/annotation-style.css" />
<div class="mainContainer">
  <div id="modal_dlg_container" class="modalDlgContainer">
    <!-- Project Open Dialog -->
    <section id="dlg_openproject" class="dialog dialog-openproject">
      <header id="dlg_openproject_header" class="dialog-header">
        <div class="dialog-actions" onclick="closeDlgProject()">
          <a class="dialog-action dialog-action-dismiss" data-dialog-dismiss></a>
        </div>
        <h2 id="dlg_openproject_focus" class="dialog-title">Open Projects</h2>
      </header>
      <div class="dialog-body">
        <div class="scrollable" data-plugin-scrollable>
          <div class="scrollable-content">
            <div id="open_project_content">
              <div id="bimserver_status" class="project-open-status"></div>
              <div id="project_list"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="dlg_edittext" class="dialog dialog-edittext">
      <header class="dialog-header">
        <div class="dialog-actions" onclick="closeDlgEditText()">
          <a class="dialog-action dialog-action-dismiss" data-dialog-dismiss></a>
        </div>
        <h2 class="dialog-title">Edit Text</h2>
      </header>
      <div class="dialog-body">
        <div class="scrollable" data-plugin-scrollable>
          <div class="scrollable-content">
            <label style="font-size:1.2em">Text:</label><br>
            <input id="text_content" class="form-control form-control-lg" type="text" name="text" value="New Text"><br>
            <label style="font-size:1.2em">Size</label><br>
            <input id="text_size" class="form-control form-control-lg" type="number" name="quantity" min="0" max="100" step="1" value="10"><br>
            <div style="display:inline-flex">
              <button type="button" class="btn btn_create ripple" data-dismiss="modal" onclick="setValueForText()">Ok</button>
              <button type="button" class="btn btn_create ripple" data-dismiss="modal" onclick="closeDlgEditText()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="topbar">
    <div class="topbar-brand">
      <img src="../assets/images/logo1024.png" />
      <label class="navbar-brand-title">
        <span style="color:black">Cloud</span>
        <span style="color:#F89603">E</span>
        <span style="color:#00A5C8">S</span>
      </label>
    </div>
    <!-- <div class="camview-toolbar">
      <div class="item">
        <div class="dropdown">
          <button class="top-toolbar-btn" type="button" data-toggle="dropdown" aria-expanded="false">
            <img src="../assets/images/toolbar/video-camera.png">
            <label>Cameras</label>
          </button>
          <div class="dropdown-menu">
            <a id="chk_cam_persp" class="dropdown-item submenu px-2" onclick="onCheckCameras('perspective')"><i id="chk_persp"
                class="fas fa-check fa-sm text-success"></i>Perspective&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P</a>
            <a id="chk_cam_ortho" class="dropdown-item submenu px-2" onclick="onCheckCameras('ortho')"><i id="chk_ortho"
                class="fas fa-sm text-success"></i>Orthographic&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</a>
            <a id="chk_cam_top" class="dropdown-item submenu px-2" onclick="onCheckCameras('top')"><i id="chk_top"
                class="fas fa-sm text-success"></i>Top&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num
              1</a>
            <a id="chk_cam_bottom" class="dropdown-item submenu px-2" onclick="onCheckCameras('bottom')"><i id="chk_bottom"
                class="fas fa-sm text-success"></i>Bottom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num
              2</a>
            <a id="chk_cam_front" class="dropdown-item submenu px-2" onclick="onCheckCameras('front')"><i id="chk_front"
                class="fas fa-sm text-success"></i>Front&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num
              3</a>
            <a id="chk_cam_back" class="dropdown-item submenu px-2" onclick="onCheckCameras('back')"><i id="chk_back"
                class="fas fa-sm text-success"></i>Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num
              4</a>
            <a id="chk_cam_left" class="dropdown-item submenu px-2" onclick="onCheckCameras('left')"><i id="chk_left"
                class="fas fa-sm text-success"></i>Left&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num
              5</a>
            <a id="chk_cam_right" class="dropdown-item submenu px-2" onclick="onCheckCameras('right')"><i id="chk_right"
                class="fas fa-sm text-success"></i>Right&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num
              6</a>
          </div>
        </div>
      </div>
      <div class="separator-camview"></div>
      <div class="item">
        <div class="dropdown">
          <button class="top-toolbar-btn" type="button" data-toggle="dropdown" aria-expanded="false">
            <img src="../assets/images/toolbar/views.png">
            <label>&nbsp;Views&nbsp;</label>
          </button>
          <div class="dropdown-menu" style="right:-110px">
            <a id="chk_view_shaded" class="dropdown-item submenu px-2" onclick="onCheckViews('shaded')"><i id="chk_shaded"
                class="fas fa-check fa-sm text-success"></i>Shaded</a>
            <a id="chk_view_wire" class="dropdown-item submenu px-2" onclick="onCheckViews('wire')"><i id="chk_wire"
                class="fas fa-sm text-success"></i>Wireframe</a>
            <a id="chk_view_transp" class="dropdown-item submenu px-2" onclick="onCheckViews('transp')"><i id="chk_transp"
                class="fas fa-sm text-success"></i>Transparence</a>
            <a id="chk_view_edge" class="dropdown-item submenu px-2" onclick="onCheckViews('edge')"><i id="chk_edge"
                class="fas fa-sm text-success"></i>Edged Faces</a>
            <a id="chk_view_grid" class="dropdown-item submenu px-2" onclick="onCheckViews('grid')"><i id="chk_grid"
                class="fas fa-check fa-sm text-success"></i>Grid</a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="menubar">
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_equipment.png" />
        <label>EQUIPMENT</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_materials.png" />
        <label>MATERIALS</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_supplier.png" />
        <label>SUPPLIER</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_subcontractors.png" />
        <label>SUBCONTRACTORS</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_visualplan.png" />
        <label>VISUAL PLAN</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_keyfigures.png" />
        <label>KEY FIGURES</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_timeline.png" />
        <label>TIMELINE</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_offers.png" />
        <label>OFFERS</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_budget.png" />
        <label>BUDGET</label>
      </div>
      <div class="menuItem">
        <img src="../assets/images/menubar/menu_profit.png" />
        <label>PROFIT, RISK & COST PLANNER</label>
      </div>
    </div>
  </div>
  <div class="toptoolbar">
    <div id="btn_open_project" class="toolbar-icon" data-toggle="tooltip" data-placement="bottom" title="Open Project">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/57.png" />
      </div>
    </div>
    <div id="btn_upload" class="toolbar-icon" data-toggle="tooltip" data-placement="bottom" title="Upload">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 80.png" />
      </div>
    </div>
    <div class="separator"></div>
    <div id="btn_picker" class="toolbar-icon" onclick="onbtnPicker()" data-toggle="tooltip" data-placement="bottom"
      title="Picker">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 65.png" />
      </div>
    </div>
    <div id="btn_pan" class="toolbar-icon" onclick="onbtnPanMove()" data-toggle="tooltip" data-placement="bottom" title="Pan">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/pan.png" />
      </div>
    </div>
    <div id="btn_orbit" class="toolbar-icon" onclick="onbtnOrbit()" data-toggle="tooltip" data-placement="bottom" title="Orbit">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/orbit.png" />
      </div>
    </div>
    <div class="separator"></div>
    <div id="cam_persp" class="toolbar-icon" onclick="onCheckCameras('perspective')" data-toggle="tooltip"
      data-placement="bottom" title="Perspective">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_persp.png" />
      </div>
    </div>
    <div id="cam_ortho" class="toolbar-icon" onclick="onCheckCameras('ortho')" data-toggle="tooltip" data-placement="bottom"
      title="Orthographic">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_ortho.png" />
      </div>
    </div>
    <div id="cam_top" class="toolbar-icon" onclick="onCheckCameras('top')" data-toggle="tooltip" data-placement="bottom"
      title="Top">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_top.png" />
      </div>
    </div>
    <div id="cam_bottom" class="toolbar-icon" onclick="onCheckCameras('bottom')" data-toggle="tooltip" data-placement="bottom"
      title="Bottom">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_bottom.png" />
      </div>
    </div>
    <div id="cam_front" class="toolbar-icon" onclick="onCheckCameras('front')" data-toggle="tooltip" data-placement="bottom"
      title="Front">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_front.png" />
      </div>
    </div>
    <div id="cam_back" class="toolbar-icon" onclick="onCheckCameras('back')" data-toggle="tooltip" data-placement="bottom"
      title="Back">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_back.png" />
      </div>
    </div>
    <div id="cam_left" class="toolbar-icon" onclick="onCheckCameras('left')" data-toggle="tooltip" data-placement="bottom"
      title="Left">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_left.png" />
      </div>
    </div>
    <div id="cam_right" class="toolbar-icon" onclick="onCheckCameras('right')" data-toggle="tooltip" data-placement="bottom"
      title="Right">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/cam_right.png" />
      </div>
    </div>
    <div class="separator"></div>
    <div id="view_shaded" class="toolbar-icon" onclick="onCheckViews('shaded')" data-toggle="tooltip" data-placement="bottom"
      title="Shaded">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/view_shaded.png" />
      </div>
    </div>
    <div id="view_edge" class="toolbar-icon" onclick="onCheckViews('edge')" data-toggle="tooltip" data-placement="bottom"
      title="Edge">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/view_edge.png" />
      </div>
    </div>
    <div id="view_transp" class="toolbar-icon" onclick="onCheckViews('transp')" data-toggle="tooltip" data-placement="bottom"
      title="Transparency">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/view_transp.png" />
      </div>
    </div>
    <div id="view_wire" class="toolbar-icon" onclick="onCheckViews('wire')" data-toggle="tooltip" data-placement="bottom"
      title="Wireframe">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/view_wire.png" />
      </div>
    </div>
    <div id="view_grid" class="toolbar-icon" onclick="onCheckViews('grid')" data-toggle="tooltip" data-placement="bottom"
      title="Grid">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/view_grid.png" />
      </div>
    </div>
    <div class="separator"></div>
    <div id="pushpull" class="toolbar-icon" data-toggle="tooltip" data-placement="bottom" title="Push/Pull">
      <div class="toolbar-icon-img">
        <img src="../assets/images/toolbar/17.png" />
      </div>
    </div>
  </div>
  <div class="viewContainer" id="toolbarContainer">
    <div class="leftPart">
      <div id="left_toolbar" class="left-toolbar">

        <div id="btn_draw_straightline" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Straight Line">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 66.png" />
          </div>
        </div>
        <div id="btn_draw_freeline" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Free Hand">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 67.png" />
          </div>
        </div>
        <div id="btn_draw_severalline" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Several Points">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 68.png" />
          </div>
        </div>
        <div class="toolbar-icon" id="btn_draw_circle" data-toggle="tooltip" data-placement="right" title="Circle">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/drawCircle.png" />
          </div>
        </div>
        <div id="btn_draw_text" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Text">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 78.png" />
          </div>
        </div>
        <div id="btn_draw_locationtext" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Locations Text">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 77.png" />
          </div>
        </div>
        <div class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Color">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 79.png" />
          </div>
        </div>
        <div class="separator-horizontal"></div>

        <div id="btn_calc_angle" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Angle Measure">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 69.png" />
          </div>
        </div>
        <div class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Square Marker">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 70.png" />
          </div>
        </div>
        <div id="btn_calc_circle_circum" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Circumference">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 71.png" />
          </div>
        </div>
        <div id="btn_calc_circle_diameter" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Diameter">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 72.png" />
          </div>
        </div>
        <div id="btn_calc_area" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Area Measure">
          <div class="dropdown">
            <button class="btn dropdown-toggle only-icon" type="button" data-toggle="dropdown">
              <img id="img_measure_area" class="toolbar-icon-img" src="../assets/images/toolbar/area_sameplane.png" />
            </button>
            <div class="dropdown-menu" role="menu">
              <!-- <a class="dropdown-item small px-2 chk-measure-area"><img class="measure-area-icon" src="../assets/images/toolbar/area_triangle.png" />
                          Triangle Area</a> -->
              <a class="dropdown-item small px-2 chk-measure-area"><img class="measure-area-icon" src="../assets/images/toolbar/area_sameplane.png" />
                Same Plane</a>
              <a class="dropdown-item small px-2 chk-measure-area"><img class="measure-area-icon" src="../assets/images/toolbar/area_total.png" />
                Total Area</a>
            </div>
          </div>
        </div>
        <div id="btn_calc_length" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Length Measure">
          <!-- <img class="rect-toolbar-img" src="../assets/images/toolbar/22.png" /> -->
          <div class="dropdown">
            <button class="btn dropdown-toggle only-icon" type="button" data-toggle="dropdown">
              <img id="img_measure_length" class="toolbar-icon-img" src="../assets/images/toolbar/22.png" />
            </button>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item small px-2 chk-measure-length"><img class="measure-length-icon" src="../assets/images/toolbar/22.png" />
                Common Length</a>
              <a class="dropdown-item small px-2 chk-measure-length"><img class="measure-length-icon" src="../assets/images/toolbar/length_edge.png" />
                Edge Calibrate</a>
              <a class="dropdown-item small px-2 chk-measure-length"><img class="measure-length-icon" src="../assets/images/toolbar/length_vertex.png" />
                Vertex Calibrate</a>
            </div>
          </div>
        </div>
        <div class="toolbar-icon" id="btn_calc_volume" data-toggle="tooltip" data-placement="right" title="Volume">
          <img class="rect-toolbar-img" src="../assets/images/toolbar/volume.png" />
        </div>
        <div id="btn_delete_dimension" class="toolbar-icon" data-toggle="tooltip" data-placement="right" title="Delete All Dimensions">
          <div class="toolbar-icon-img">
            <img src="../assets/images/toolbar/new_toolbar/-_Delete copy 75.png" />
          </div>
        </div>

      </div>

    </div>
    <div class="viewerPart">
      <iframe src="../bimsurfer/bimsurfer.html" id="bimviewer" frameborder="0" oncontextmenu="return false;">
      </iframe>
    </div>
    <div class="rightPart">
      <!-- Components dialog -->
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a class="card-action card-action-toggle" data-card-toggle></a>
          </div>

          <h2 class="card-title">Components</h2>
        </header>
        <div class="card-body">
          <div class="top-part">
            <table style="width:-webkit-fill-available;height:-webkit-fill-available;">
              <tbody>
                <tr>
                  <td>
                    <div style="width: 160px;text-align: center;left: 100px;margin-left: 80px;">
                      <img src="../assets/images/dialog/sample.png">
                    </div>
                    <!-- <canvas id = "material_preview" class="material-preview"></canvas> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="btn-group flex-wrap dropdown">
                      <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default" data-toggle="dropdown">Select<i
                          class="caret"></i></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Component1</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Component2</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Component3</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Component4</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Component5</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Component6</a>
                      </div>
                    </div>
                    <div class="btn-group flex-wrap">
                      <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default">Edit</button>
                    </div>
                    <div class="edit-icon"><img src="../assets/images/dialog/edit.png" /></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="separator-horizontal" style="position:relative;top:-5px;"></div>
          <div class="bottom-part">
            <input type="text" class="search" placeholder="Search" id="inputComponentSearch">
            <div class="component-list">
              <div class="component-sample-icon"><img src="../assets/images/dialog/component.png"></div>
              <div id="dlg_components_content" class="component-content"></div>
            </div>
            <div class="component-control">
              <div class="view-3d">
                <img src="../assets/images/dialog/3D.png" />
              </div>
              <div class="up-arrow">
                <img src="../assets/images/dialog/up-arrow.png" />
              </div>
              <div class="down-arrow">
                <img src="../assets/images/dialog/down-arrow.png" />
              </div>
              <div class="save">
                <img src="../assets/images/dialog/save.png" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Materials and colors dialog -->
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a class="card-action card-action-toggle" data-card-toggle></a>
          </div>

          <h2 class="card-title">Materials and Colors</h2>
        </header>
        <div class="card-body">
          <div class="top-part">
            <table style="width:-webkit-fill-available;height:-webkit-fill-available;">
              <tbody>
                <tr>
                  <td id="td_material_preview">
                    <div style="width: 160px;text-align: center;left: 100px;margin-left: 80px;">
                      <img src="../assets/images/dialog/sample.png">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="btn-group flex-wrap">
                      <button id="btn_material_select" type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default"
                        data-toggle="dropdown">Select<i class="caret"></i></button>
                      <div id="material_names" class="dropdown-menu" role="menu">
                        <!-- <a class="dropdown-item small px-2 material-name"><i class="fas fa-sm text-success"></i> Material1</a> -->
                      </div>
                    </div>

                    <div class="btn-group flex-wrap">
                      <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default">Edit</button>
                    </div>
                    <div id="btn_edit_material" class="edit-icon"><img src="../assets/images/dialog/edit.png" /></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="separator-horizontal" style="position:relative;top:-5px;"></div>
          <div class="bottom-part">
            <input type="text" class="search" placeholder="Search" id="inputMaterialSearch">
            <div id="material_list" class="material-list">
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>
              <div class="material-sample-icon"><img src="../assets/images/dialog/material.png"></div>

            </div>
            <div class="material-control">
              <div class="up-arrow">
                <img src="../assets/images/dialog/up-arrow.png" />
              </div>
              <div class="down-arrow">
                <img src="../assets/images/dialog/down-arrow.png" />
              </div>
              <div class="save">
                <img src="../assets/images/dialog/save.png" />
              </div>
            </div>
          </div>
        </div>
        <section id="dlg_edit_materials" class="dialog dialog-edit-materials" style="display:none">
          <header class="edit-header">
            <div class="dialog-actions" onclick="getElementById('dlg_edit_materials').style.display = 'none'">
              <a class="dialog-action dialog-action-dismiss" data-dialog-dismiss></a>
            </div>
            <div id="edit_mat_name"></div>
          </header>
          <div class="dialog-body">
            <div class="scrollable" data-plugin-scrollable>
              <div class="scrollable-content">
                <div>
                  <table class="table table-responsive-md mb-0">
                    <tbody id="edit_mat_values">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- Collision check -->
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a class="card-action card-action-toggle" data-card-toggle></a>
          </div>

          <h2 class="card-title">Collision Check</h2>
        </header>
        <div class="card-body">
          <div class="top-part">
            <table style="width:-webkit-fill-available;height:-webkit-fill-available;">
              <tbody>
                <tr>
                  <td>
                    <div style="width: 160px;text-align: center;left: 100px;margin-left: 80px;">
                      <img src="../assets/images/dialog/collision.png">
                    </div>
                    <!-- <canvas id = "material_preview" class="material-preview"></canvas> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="btn-group flex-wrap">
                      <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default" data-toggle="dropdown">Select<i
                          class="caret"></i></button>
                      <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Collision</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Collision</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Collision</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Collision</a>
                        <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i>
                          Collision</a>
                      </div>
                    </div>
                    <div class="btn-group flex-wrap">
                      <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default">Edit</button>
                    </div>
                    <!-- <div class="edit-icon"><img src="../assets/images/dialog/edit.png"/></div> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="separator-horizontal" style="position:relative;top:-5px;"></div>
          <div class="collision-bottom">
            <input type="text" class="search" placeholder="Search" id="inputCollisionSearch">
            <div class="collision-list">
              <div class="toggle toggle-primary" data-plugin-toggle>
                <section class="toggle active">
                  <label class="collision-sub">
                    <div class="eye-small" style="display: none;"><img src="../assets/images/dialog/eye_small.png"></div>
                    <div class="eye-large"><img src="../assets/images/dialog/eye_large.png"></div>
                    <div class="subtitle">Collision1</div>
                    <div class="preview"><img src="../assets/images/dialog/collision.png"></div>
                  </label>
                  <div class="separator-horizontal-light"></div>
                  <div class="toggle-content">
                    <div class="preview">
                      <img src="../assets/images/dialog/collision_sample.png">
                      <div class="edit-icon"><img src="../assets/images/dialog/edit.png"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget
                      diam
                      posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
                      tellus, ut feugiat nibh adipiscing sit amet.</p>
                  </div>
                </section>
                <section class="toggle">
                  <label class="collision-sub">
                    <div class="eye-small"><img src="../assets/images/dialog/eye_small.png"></div>
                    <div class="eye-large" style="display: none;"><img src="../assets/images/dialog/eye_large.png"></div>
                    <div class="subtitle">Collision2</div>
                    <div class="preview"><img src="../assets/images/dialog/collision.png"></div>
                  </label>
                  <div class="separator-horizontal-light"></div>
                  <div class="toggle-content">
                    <div class="preview">
                      <img src="../assets/images/dialog/collision_sample.png">
                      <div class="edit-icon"><img src="../assets/images/dialog/edit.png"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget
                      diam
                      posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
                      tellus, ut feugiat nibh adipiscing sit amet.</p>
                  </div>
                </section>
                <section class="toggle">
                  <label class="collision-sub">
                    <div class="eye-small"><img src="../assets/images/dialog/eye_small.png"></div>
                    <div class="eye-large" style="display: none;"><img src="../assets/images/dialog/eye_large.png"></div>
                    <div class="subtitle">Collision3</div>
                    <div class="preview"><img src="../assets/images/dialog/collision.png"></div>
                  </label>
                  <div class="separator-horizontal-light"></div>
                  <div class="toggle-content">
                    <div class="preview">
                      <img src="../assets/images/dialog/collision_sample.png">
                      <div class="edit-icon"><img src="../assets/images/dialog/edit.png"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget
                      diam
                      posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
                      tellus, ut feugiat nibh adipiscing sit amet.</p>
                  </div>
                </section>
                <section class="toggle">
                  <label class="collision-sub">
                    <div class="eye-small"><img src="../assets/images/dialog/eye_small.png"></div>
                    <div class="eye-large" style="display: none;"><img src="../assets/images/dialog/eye_large.png"></div>
                    <div class="subtitle">Collision4</div>
                    <div class="preview"><img src="../assets/images/dialog/collision.png"></div>
                  </label>
                  <div class="separator-horizontal-light"></div>
                  <div class="toggle-content">
                    <div class="preview">
                      <img src="../assets/images/dialog/collision_sample.png">
                      <div class="edit-icon"><img src="../assets/images/dialog/edit.png"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget
                      diam
                      posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
                      tellus, ut feugiat nibh adipiscing sit amet.</p>
                  </div>
                </section>
                <section class="toggle">
                  <label class="collision-sub">
                    <div class="eye-small"><img src="../assets/images/dialog/eye_small.png"></div>
                    <div class="eye-large" style="display: none;"><img src="../assets/images/dialog/eye_large.png"></div>
                    <div class="subtitle">Collision5</div>
                    <div class="preview"><img src="../assets/images/dialog/collision.png"></div>
                  </label>
                  <div class="separator-horizontal-light"></div>
                  <div class="toggle-content">
                    <div class="preview">
                      <img src="../assets/images/dialog/collision_sample.png">
                      <div class="edit-icon"><img src="../assets/images/dialog/edit.png"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget
                      diam
                      posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
                      tellus, ut feugiat nibh adipiscing sit amet.</p>
                  </div>
                </section>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- Structures -->
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a class="card-action card-action-toggle" data-card-toggle></a>
          </div>

          <h2 class="card-title">Structures</h2>
        </header>
        <div class="card-body">
          <div id="dlg_structures_content" class="scrollable-content">
          </div>
      </section>
      <!-- Layers -->
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a class="card-action card-action-toggle" data-card-toggle></a>
          </div>

          <h2 class="card-title">Layers</h2>
        </header>
        <div class="card-body">
          <table class="layertable">
            <thead class="text-dark">
            </thead>
            <tbody id="dlg_layers_content">
            </tbody>
          </table>
        </div>
      </section>
      <!-- Types -->
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a class="card-action card-action-toggle" data-card-toggle></a>
          </div>

          <h2 class="card-title">Types</h2>
        </header>
        <div class="card-body">
          <table class="typetable">
            <thead class="text-dark">
            </thead>
            <tbody id="dlg_types_content">
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="viewerStatus">
  </div>


  <!-- Home Story -->
  <section id="dlg_story" class="dialog dialog-story" style="display: none">
    <header id="dlg_story_header" class="dialog-header">
      <div class="dialog-actions" onclick="getElementById('dlg_story').style.display = 'none';getElementById('chk_story').classList.remove('fa-check');">
        <a class="dialog-action dialog-action-dismiss" data-dialog-dismiss></a>
      </div>
      <h2 id="dlg_story_focus" class="dialog-title">Home Story</h2>
      <div class="dropdown story-select">
        <button class="btn dropdown-toggle only-letter" type="button" data-toggle="dropdown">
          Floor
        </button>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> floor</a>
          <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> beam</a>
          <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> column</a>
        </div>
      </div>
    </header>
    <div class="dialog-body">
      <div class="scrollable" data-plugin-scrollable>
        <div class="scrollable-content">
          <div class="story-left">
            <div class="measure-item">
              <div class="preview">
                <img src="../assets/images/dialog/sample.png">
              </div>
              <div class="measure">
                <label class="name">Connection surface</label>
                <div class="btn-group flex-wrap dropdown value">
                  <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default border-none" data-toggle="dropdown">5000mm<i
                      class="caret"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="measure-item">
              <div class="preview">
                <img src="../assets/images/dialog/sample.png">
              </div>
              <div class="measure">
                <label class="name">Hight</label>
                <div class="btn-group flex-wrap dropdown value">
                  <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default border-none" data-toggle="dropdown">5000mm<i
                      class="caret"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="measure-item">
              <div class="preview">
                <img src="../assets/images/dialog/sample.png">
              </div>
              <div class="measure">
                <label class="name">Wide</label>
                <div class="btn-group flex-wrap dropdown value">
                  <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default border-none" data-toggle="dropdown">5000mm<i
                      class="caret"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="measure-item">
              <div class="preview">
                <img src="../assets/images/dialog/sample.png">
              </div>
              <div class="measure">
                <label class="name">Length</label>
                <div class="btn-group flex-wrap dropdown value">
                  <button type="button" class="mb-1 mt-1 mr-1 dropdown-btn btn-default border-none" data-toggle="dropdown">5000mm<i
                      class="caret"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                    <a class="dropdown-item small px-2"><i class="fas fa-check fa-sm text-success"></i> 5000mm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="story-right">
            <div class="btn-3d">
              <img src="../assets/images/dialog/3D.png">
            </div>
            <div class="top-btns">
              <div class="btn-left">
                <img src="../assets/images/dialog/left-arrow.png">
              </div>
              <div class="btn-right">
                <img src="../assets/images/dialog/right-arrow.png">
              </div>
            </div>

            <div class="middle">
              <div class="left-btns">
                <div class="btn-up">
                  <img src="../assets/images/dialog/up-arrow.png">
                </div>
                <div class="btn-down">
                  <img src="../assets/images/dialog/down-arrow.png">
                </div>
              </div>
              <div class="preview">
                <img src="../assets/images/dialog/story_sample.png" style="width:100%;height:70%;padding: 10px">
              </div>

            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam
              posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
              tellus, ut feugiat nibh adipiscing sit amet.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam
              posuere porta. Quisque ut nulla at nunc lacinia. Proin adipiscing porta
              tellus, ut feugiat nibh adipiscing sit amet.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Theme Base, Components and Settings -->
<script src="../bimsurfer/examples/js/modernizr.js"></script>
<script src="../bimsurfer/examples/js/jquery.browser.mobile.js"></script>
<script src="../bimsurfer/examples/js/popper.min.js"></script>
<script src="../bimsurfer/examples/js/common.js"></script>
<script src="../bimsurfer/examples/js/nanoscroller.js"></script>
<script src="../bimsurfer/examples/js/jquery.magnific-popup.js"></script>
<script src="../bimsurfer/examples/js/jquery-placeholder.js"></script>
<script src="../bimsurfer/examples/js/theme.js"></script>
<script src="../bimsurfer/examples/js/theme.init.js"></script>
<script src="../bimsurfer/examples/js/vanilla-picker.js"></script>
<script src="../bimsurfer/src/3d-viewer.js"></script>
<script src="../bimsurfer/lib/three.js"></script>