<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div ng-include="'/partials/header.html'"></div>
<div id="calculation" class="page-content pt-4 page-layout simple fullwidth">
    <section class="container-fluid">
        <div class="row" id="calculationList">
            <div class="col-3">
                <select class="custom-select mb-2 rounded-30 bg-success text-white">
                    <option selected>Select project</option>
                    <option value="1">Project 1</option>
                    <option value="2">Project 2</option>
                    <option value="3">Project 3</option>
                </select>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <table class="table table-bordered calculationList">
                    <div>
                        <thead class="bg-success text-white"> 
                            <tr>
                                <th style="width: 2%">1</th>
                                <th style="width: 10%">Location, Haller</th>
                                <th style="width: 6%">Add on</th>
                                <th style="width: 4%">unit</th>
                                <th style="width: 3%">Quanity</th>
                                <th style="width: 6%">Cost</th>
                                <th style="width: 9%">Materials cost</th>
                                <th style="width: 7%">Total cost </th>
                                <th style="width: 7%">Profit </th>
                                <th style="width: 3%">%</th>
                                <th style="width: 8%">Sales price </th>
                                <th style="width: 8%">Labor cost </th>
                                <th style="width: 8%">Labor sum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                        </tbody>
                        <tfooter>
                            <tr>
                                <td colspan="4" class="text-right">Total</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                        </tfooter>
                    </div>
                    <div>
                        <thead class="bg-success text-white">
                            <tr>
                                <th style="width: 2%">1</th>
                                <th style="width: 10%">Location, Haller</th>
                                <th style="width: 6%">Add on</th>
                                <th style="width: 4%">unit</th>
                                <th style="width: 3%">Quanity</th>
                                <th style="width: 6%">Cost</th>
                                <th style="width: 9%">Materials cost</th>
                                <th style="width: 7%">Total cost </th>
                                <th style="width: 7%">Profit </th>
                                <th style="width: 3%">%</th>
                                <th style="width: 8%">Sales price </th>
                                <th style="width: 8%">Labor cost </th>
                                <th style="width: 8%">Labor sum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                        </tbody>
                        <tfooter>
                            <tr>
                                <td colspan="4" class="text-right">Total</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                        </tfooter>
                    </div>
                    <div>
                        <thead class="bg-success text-white">
                            <tr>
                                <th style="width: 2%">1</th>
                                <th style="width: 10%">Location, Haller</th>
                                <th style="width: 6%">Add on</th>
                                <th style="width: 4%">unit</th>
                                <th style="width: 3%">Quanity</th>
                                <th style="width: 6%">Cost</th>
                                <th style="width: 9%">Materials cost</th>
                                <th style="width: 7%">Total cost </th>
                                <th style="width: 7%">Profit </th>
                                <th style="width: 3%">%</th>
                                <th style="width: 8%">Sales price </th>
                                <th style="width: 8%">Labor cost </th>
                                <th style="width: 8%">Labor sum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>Safety staircase</td>
                                <td> </td>
                                <td>psc</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                        </tbody>
                        <tfooter>
                            <tr>
                                <td colspan="4" class="text-right">Total</td>
                                <td>4</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>70%</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                                <td>6,500.00 kr.</td>
                            </tr>
                        </tfooter>
                    </div>
                </table>
            </div>
        </div>
    </section>
    
</div>