<nav class="navbar fixed-top navbar-expand-lg navbar-light px-5">
        <a class="navbar-brand" href="#!/dashboard">
            <img src="/assets/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <a id="button_left" ng-click="leftClick();"style="padding-top:10px;"><img src="/assets/images/Calc/left-arrow.png"></a>
            <div class='example-one'>
                   
                <header class='example-one-header scroll'>
                    
                  <nav class='vertical-align-middle'>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/timeline.png"><br>Timeline</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/graph-8.png"><br>Budget</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/wallet.png"><br>Offers</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/graph-2.png"><br>Resources</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/folder.png"><br>Equipment</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/Group 1042.png"><br></a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/cart-8.png"><br>Supplier</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/diagram-2.png"><br>Subcontractor</a>
                    </span>
                    <span class='nav-itemtest'>
                        <a><img src="/assets/images/Calc/check.png"><br>Visual Plan</a>
                    </span>
                    <span class='nav-itemtest'>
                            <a><img src="/assets/images/Calc/presentation-11.png"><br>Profit, risk & cost planner</a>
                    </span>
                    <span class='nav-itemtest'>
                            <a><img src="/assets/images/Calc/graph-7.png"><br>Key figures</a>
                     </span>
                  </nav>
                </header>
               
                
              </div>
              <a id="button_right"ng-click="rightClick();"style="padding-top:10px;"><img src="/assets/images/Calc/right-arrow.png"></a>
            <ul class="navbar-nav">
                <li class="nav-item ml-xl-3">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/images/user.jpg" class="pro-pic rounded-circle mr-3">Harsh
                        </a>
                        <div class="dropdown-menu dropdown-menu-right box-shadow border-0 bg-success">
                            <a class="dropdown-item" href="profile.html">
                                <i class="far fa-user"></i> Edit Profile</a>
                            <button class="dropdown-item" type="button">
                                <i class="fas fa-sign-out-alt"></i> Logout</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>