<div ng-include="'/partials/header-new.html'"></div>

<section class="equipment-section sectionbg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="headOne txtblack">Equipment</h3>
                    <button class="btn btn_create_issue transition ripple" data-toggle="modal" data-target="#equipment_modal">Add Equipment</button>
                </div>
                <div class="row issue-row">
                     
                    <div class="col-xl-4 col-12" ng-repeat="equipment in vm.equipment">
                        <a href="#!equipmentView/{{equipment._id}}">
                            <div class="issue-box position-relative transition animated fadeInUp wow">
                                <div class="image-holder mr-3" ng-if="equipment.files[0].url">
                                    <img ng-src="{{ equipment.files[0].url }}" class="img-fluid animated zoomIn wow" data-wow-delay=".8s" alt="issue-image">
                                </div>
                                <div class="issue-info w-100 d-flex justify-content-center flex-column animated fadeIn wow" data-wow-delay="1.2s">
                                    <h6 class="f600 headTwo txtblack mb-0 text-sm-left text-center">{{ equipment.name }}</h6>
                                    <p class="issue-number f600 text-sm-left text-center">{{equipment.systemTag}}</p>
                                    <!-- <ul class="list-unstyled d-flex flex-wrap issue_list">
                                        <li class=" w-100">
                                            <p class="mb-0 issue-number f700 text-uppercase">{{equipment[$index].work}}</p>
                                            <p class="mb-0 fsize18 txtblack">{{equipment[$index].tag}}</p>
                                        </li>
                                    </ul> -->
                                    <div class="map_box">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.7495687246947!2d-73.93633378420931!3d40.70151277933304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25c0774baeeed%3A0xc0adcb482ea22b5b!2s930+Flushing+Ave%2C+Brooklyn%2C+NY+11206%2C+USA!5e0!3m2!1sen!2sin!4v1536382198710"
                                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Equipment Modal -->
<div class="modal fade popup2" data-easein="slideUpBigIn" id="equipment_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h5 class="modal-title f500 txtwhite">New Equipment</h5>
                </div>
            </div>
            <div class="modal-body pad0">
                <div class="d-md-flex">
                    <div class="col-lg-6 col-md-6 pad0">
                        <div class="issue_form">
                            <div class="f_block">
                                <p class="fsize18 f500 txtgrey c_space mb-2">Name</p>
                                <input type="text" class="form-control animated zoomIn wow" data-wow-delay=".7s">
                            </div>
                            <div class="s_block">
                                <p class="fsize18 f500 txtgrey c_space mb-2 mt-3">Unit</p>
                                <div class="dropdown taskdrop animated zoomIn wow" data-wow-delay=".7s">
                                    <button class="btn selectbox dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        MT
                                    </button>
                                    <ul class="dropdown-menu avail_option">
                                        <li ng-repeat="unit in units">{{unit.name}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="s_block">
                                <p class="fsize18 f500 txtgrey c_space mb-2 mt-3">Currency</p>
                                <div class="dropdown taskdrop animated zoomIn wow" data-wow-delay=".7s">
                                    <button class="btn selectbox dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Danish Krone
                                    </button>
                                    <ul class="dropdown-menu avail_option">
                                        <li ng-repeat="current in currency">{{current.name}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="f_block" ng-repeat="f_control in txtbox">
                                <p class="fsize18 f500 txtgrey c_space mb-2 mt-3">{{f_control.name}}</p>
                                <input type="text" class="form-control animated zoomIn wow" data-wow-delay=".7s" placeholder="{{f_control.placeholder}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 pad0">
                        <div class="bg_grey">
                            <div class="d-lg-flex">
                                <div class="col-lg-6 padleft0">
                                    <div class="blockOne d-block align-items-end ">
                                        <div class="w_100">
                                            <p class="f500 txtgrey fsize18 c_space">Upload Images</p>
                                            <div class="img_box white_block ">
                                                <ul class="list-unstyled mb-0 uploaded_img">
                                                    <li ng-repeat="img in img_upload">
                                                        <div class="img_height">
                                                            <img src="{{img.img}}" class="img-fluid animated zoomIn wow" data-wow-delay=".7s" alt="image">
                                                        </div>
                                                    </li>
                                                </ul>
                                                <hr class="bottom-line">
                                                <button class="btn btn_create_issue ripple animated zoomIn wow" data-wow-delay=".7s">browse</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 padright0">
                                    <div class="blockOne d-block align-items-end ">
                                        <div class="w_100">
                                            <p class="f500 txtgrey fsize18 c_space">Upload Documents</p>
                                            <div class="img_box white_block ">
                                                <ul class="mb-0 list-unstyled">
                                                    <li class="d-flex flex-column align-items-center justify-content-center doc_block  animated zoomIn wow" data-wow-delay=".7s"
                                                        ng-repeat="doc in equipdocuments">
                                                        <img src="{{doc.img}}" class="img-fluid" alt="doc-icon">
                                                        <p class="mb-0 fsize18 f500 txtgrey mt-2">{{doc.type}}</p>
                                                    </li>
                                                </ul>
                                                <hr class="bottom-line">
                                                <button class="btn btn_create_issue ripple animated zoomIn wow" data-wow-delay=".7s">browse</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-md-flex justify-content-between align-items-center">
                <div class="text-center text-lg-left">
                    <button type="button" class="btn btn_red ripple">Create QA Code</button>
                    <button type="button" class="btn btn_yellow ml-md-3 mt-md-0 mt-2 ripple">Connect to IoT SIM Number</button>
                </div>
                <div class="space15 d-lg-none"></div>
                <div>
                    <button type="button" class="btn btn_create_issue ripple" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn_create_issue ripple">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>