<div class="modal-dialog"style="border-radius:25px;">
  <div class="modal-content">
      <div class="modal-header"style="background-color:#4ed1be;height:50px;">
          <p style="color:#ffff;size: 30px;"><b>Issue Mark Picker</b></p>
      </div>
      <div class="modal-body">
         <div id="carousel" class="flexslider"style="margin:0 0 0 0;">
             <label>Images</label>
            
             <ul class="slides ">
                  <li class="img-box img-scale-rotate lightbox active" ng-repeat="plan in vm.planToMark">
                    <img id="id1" class="borderimg1"src="{{plan.assetObj.url}}" style="height:130px;width:130px;"
                      ng-click="openSliderImage(plan.assetObj.url,$index)"/>
                  </li>
             </ul>
             
           </div>
           <div style="float:right">
            <button type="button" class="btn btn-default"ng-click="UndoDrawing()"><img src="/assets/images/undo-arrow.png"></button>
            <button type="button" class="btn btn-primary"ng-click="RedoDrawing()"><img src="/assets/images/redo-arrow.png"></button>
           </div>

           <canvas id="slideCanvas"height="350" width="450">
            
           </canvas>
           <div ng-If="textForm==true"><input type="text" ng-model="TextData">
                <button type="submit" class="btn btn-primary" ng-click="textSave(TextData)">done</button>
          </div>
           
      </div>
      <div class="modal-footer box-shadow"style="height:50px;">
          <button type="button" class="btn btn-sm" id="gpsbtn"  ng-click="drawmarkerOnCanvas()"> <img src="{{btnMarker}}"></button>
          <button type="button" class="btn btn-sm" id="circlebtn" ng-click="drawCircleOnCanvas()"><img src="{{btnCircle}}"></button>
          <button type="button" class="btn btn-sm" id="linebutton" ng-click="drawLineOnCanvas()"><img src="{{btnLine}}"></button>
          <button type="button" class="btn btn-sm mr-auto" id="txtbtn" ng-click="fillTextOnCanvas()"><img src="{{btnText}}"></button>
          <input type="color" id="colorPick" ng-click="pickColorToDraw()" value="#0000ff">
          <input type="color" id="fillColor" ng-click="pickColorToFill()"  ng-If="openFillColor==true" value="#ffffff">
          <button type="button" class="btn mb-1" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary mb-1" ng-click="mark()">Mark</button>
      </div>
  </div>
</div>

