<link rel="stylesheet" type="text/css" href="/css/src/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/src/fixedColumns.bootstrap.min.css">

<div ng-include="'/partials/header-new.html'"></div>

<section class="sectionbg equipment_details material_detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="test-block animated fadeInUp" data-wow-delay="0.2s">
          <div class="d-lg-flex">
            <div class="col-lg-5 pad0 animated fadeIn wow" data-wow-delay="0.6s">
              <div id="equipment_slider" class="carousel slide " data-ride="carousel" >
                <div class="carousel-inner">
                  <div class="carousel-item" ng-repeat="slide in vm.matrialData.files" ng-class="{active:!$index}">
                    <img class="d-block w-100" src="{{slide.secure_url}}" alt="First slide">
                  </div>
                </div>
                <a class="carousel-control-prev" data-target="#equipment_slider" role="button" data-slide="prev">
                  <img class="img-fluid wobble-horizontal" src="/assets/images/arrow_left.png" alt="arrow_left">
                </a>
                <a class="carousel-control-next" data-target="#equipment_slider" role="button" data-slide="next">
                  <img class="img-fluid wobble-horizontal" src="/assets/images/arrow_right.png" alt="arrow_right">
                </a>
              </div>
            </div>
            <div class="col-lg-7 pad0 animated fadeIn wow" data-wow-delay="0.6s">
              <div class="head-block d-flex align-items-center justify-content-between position-relative">
                <div>
                  <h2 class="headOne">{{vm.matrialData.name}}</h2>
                  <p class="issue-number mb-0 f600">{{vm.matrialData.createdAt | date}}</p>
                </div>
                <ul class="list-inline mat-btn-list">
                  <li class="list-inline-item"><a href="#">Add Images</a></li>
                  <li class="list-inline-item"><a href="#">Edit Material</a></li>
                  <li class="list-inline-item"><a href="#">3D Viewer</a></li>
                </ul>
              </div> 

              <div class="gray-part">
                <div class="row justify-content-md-center">
                  <div class="col-md-3" ng-repeat="gray_one in gray_box">
                    <img class="d-block m-auto img-fluid" src="{{gray_one.img}}" alt="First slide">
                    <h4 class="text-center">{{gray_one.title}}</h4>
                    <p class="text-center">{{gray_one.value}} <small class="text-muted" ng-if="gray_one.currencyCode">{{gray_one.currencyCode}}</small></p>
                  </div>
                </div>
              </div> 

              <table id="dataTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th ng-repeat="heading in mat_headers">{{heading.mat_head}}</th>
                  </tr>
                </thead>
                <tbody>                       
                  <tr ng-repeat="items in mat_items">
                    <td>{{items.s_no}}</td>
                    <td>{{items.date}}</td>
                    <td>{{items.m_cost}}</td>
                    <td>{{items.w_cost}}</td>
                  </tr>
                </tbody>
              </table>

              <div class="clearfix"></div>  

              <div class="row align-items-center pl-5 pr-5">
                <div class="col-md-6">
                  <p class="red-box-txt f700 ng-binding">MTRL - 1234</p>
                  <p class="next-maint">Next Maintenance On Dec 25, 2017</p>
                </div>
                <div class="col-md-6 text-right">
                  <h4 class="simon-txt">Added by Simon Olsen</h4>
                  <p class="mb-0">Last Updated On Sep 25, 2018 at 4:00 PM</p>
                </div>
              </div> 
              <div class="space30"></div>        
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</section>



<script type="text/javascript" src="/js/dist/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dist/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/js/dist/dataTables.fixedColumns.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#dataTable').DataTable( {      
         "searching": true,
         "paging": true, 
         "info": true,         
         "lengthChange":true,
         "sDom": 'Rfrtlip',
         "pageLength": 4,
         "oLanguage": { "sSearch": "" }, 
    } );
} );
</script>


