<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
<div ng-include="'/partials/header.html'"></div>
<section class="subcontractor-detail sectionbg heightfull">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="outlineblock animated fadeInUp" data-wow-delay="0.3s">
                <div class="d-md-flex">
                  <div class="col-lg-4 col-md-5 pad0">
                    <img src="assets/images/curvebg.png" class="img-fluid w-100 animated zoomIn wow" data-wow-delay="0.6s" alt="curve-bg">
                    <div class="tree_logo d-flex align-items-center justify-content-center mx-auto spaceup2 animated zoomIn wow" data-wow-delay="0.6s">
                      <div class="inner_circle d-flex align-items-center justify-content-center animated zoomIn wow" data-wow-delay="0.7s">
                        <img src="{{vm.subcontractorData.profilePic}}" class="img-fluid animated zoomIn wow" data-wow-delay="0.8s" alt="tree_logo">
                      </div>
                    </div>
                    <div class="space40"></div>
                    <div class="animated fadeInDown wow" data-wow-delay="0.9s">
                      <h2 class="headThree text-center" style="text-transform:capitalize;">{{vm.subcontractorData.name}}</h2>
                      <p class="f500 txtgrey mb-0 small_tag text-center">{{vm.subcontractorData.created | date : 'MM/dd/yyyy'}}</p>                  
                    </div>                          
                    <div class="sidespacing2 animated fadeInDown wow" data-wow-delay=".9s">
                      <div class="input-group input_form">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <img src="assets/images/suppliers/call.png" class="img-fluid" alt="call">
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="{{vm.subcontractorData.contact.dialCode}}{{vm.subcontractorData.contact.phoneNumber}}">
                      </div>
                      <div class="input-group input_form spaceup">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <img src="assets/images/suppliers/mail.png" class="img-fluid" alt="mail">
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="{{vm.subcontractorData.email}}">
                      </div>
                      <div class="input-group input_form spaceup">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <img src="assets/images/suppliers/building.png" class="img-fluid" alt="building">
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="{{vm.subcontractorData.address}}">
                      </div>
                      <div class="space40"></div>
                      <div class="items_holder">
                        <span class="lbl_stat complete transition text-uppercase" ng-repeat="item in vm.subcontractorData.staff">{{item}}</span>
                      </div>
                    </div>            
                  </div>
                  <div class="col-lg-8 col-md-7 pad0">
                    <div class="sidespacing2">
                      <div class="d-flex align-items-center animated fadeIn wow" data-wow-delay="1.0s">
                        <h2 class="headThree text-center mb-0">Staff Members</h2>
                        <span class="lbl_stat low transition staff_num">{{vm.subcontractorData.staff.length}}</span>                  
                      </div>
                      <ul class="list-unstyled member_list animated fadeIn wow" data-wow-delay="1.0s">
                        <li ng-repeat=" member in vm.subcontractorData.staff">{{member}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      