<link rel="stylesheet" href="/css/src/economicStyle.css" crossorigin="anonymous">

<div class="wrapper">
    <div class="sidebar">
        <div class="mylogo">
            <a href="#">
                <img src="/assets/images/logos/cloud-es.png" class="img-fluid center-block logo" alt="...">
            </a>
        </div>
    
        <ul class="left_menu_items">
            <li>
                <a href="#!economic" ng-class="activeClass('/economic')">
                    <img src="/assets/images/economicDashboard.png" class="img-fluid center-block" alt="...">
                    <small>Dashboard</small>
                </a>
            </li>
            <li>
                <a href="#!addItem" ng-class="activeClass('/addItem')">
                    <img src="/assets/images/invoice.png" class="img-fluid center-block" alt="...">
                    <small>Create Invoice</small>
                </a>
            </li>
            <li>
                <a href="#!createVariationsOrder" ng-class="activeClass('/createVariationsOrder')">
                    <img src="/assets/images/createVariationsOrder.png" class="img-fluid center-block" alt="...">
                    <small>Create Variations Order</small>
                </a>
            </li>
            <li>
                <a href="#!invoice" ng-class="activeClass('/invoice')">
                    <img src="/assets/images/approveBill.png" class="img-fluid center-block" alt="...">
                    <small>Approve Bill</small>
                </a>
            </li>
            <li>
                <a href="#!supplierDetails" ng-class="activeClass('/supplierDetails')">
                    <img src="/assets/images/variationsorderList.png" class="img-fluid center-block" alt="...">
                    <small>Variations order List</small>
                </a>
            </li>
            <li>
                <a href="#!workingHours" ng-class="activeClass('/workingHours')">
                    <img src="/assets/images/billingArc.png" class="img-fluid center-block" alt="...">
                    <small>Billing Arc</small>
                </a>
            </li>
            <li>
                <a href="#!workingHours" ng-class="activeClass('/workingHours')">
                    <img src="/assets/images/payroll.png" class="img-fluid center-block" alt="...">
                    <small>Payroll</small>
                </a>
            </li>
        </ul>
    </div>

    <div class="wrapper_body working_hr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pad0">
                    <div class="working_hr_left">
                        <img src="/assets/images/layer5.png" class="img-responsove center-block" alt="...">
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 padleft0">
                    <div class="working_hr_right">
                        <h1>Working hours</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>